* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-image: url(/imgs/pexels-jessica-lewis-creative-583848.jpg);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  z-index: 1;
}

/*.grid-container
{
  display: grid;
  grid-template-areas:
  "home home"
  "left right";
  grid-gap: 10px;
  padding: 10px;
  height: 1000px;
}*/

/* PAGES */
#home,#slideshow,#about-me,#contact
{
  min-height: 1000px;
  overflow: hidden;
}


/* HOME */

#home::after { /* BLACK COVER */
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1000px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

/*min overskrift på home siden*/
#home .home-title {
  margin-left: 42%;
  display: block;
  font-size: 2rem;
  color: whitesmoke;
  margin-top: 18%;
}

/*knappen på home siden*/
#home button {
  margin-left: 42%;
  display: inline-block;
  padding: 10px 30px;
  color: cornflowerblue;
  background-color: transparent;
  border: 2px solid cornflowerblue;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 30px;
  transition: 0.5s ease background-color;
  transition: 0.5s ease color;
}


#home button:hover {
  color: whitesmoke;
  background-color: cornflowerblue;
}



#slideshow
{
  padding: 32px;
  background-color:rgba(35, 29, 29, 0.877);

}

.slider-wrapper
{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider-wrapper img
{
  width: 52%;
}


.slider
{
  
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 4px;
}

.slider img
{
  float: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav
{
  display: flex;
  column-gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a
{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: whitesmoke;
  opacity: 0.75;
  transition: ease 250ms;
}




/* ABOUT ME */
#about-me 
{
  background-color:rgba(35, 29, 29, 0.877);
}
.about-me-img
{
  float: left;
  max-width: 50%;
}
.about-me-text
{
  max-width: 50%;
  margin-left: 50%;
  text-align: center;
}

/* Text Styles */
.about-me-Title
{
  color:cornflowerblue;
  height: 300px;
  padding-top: 220px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.standard-text
{
  display:inline-flex;
  color: whitesmoke;
  max-width: 50%;
  font-size: 1.4em;
  text-align: center;  
}



/* kontakt mig */
#contact
{
  background-color:rgba(35, 29, 29, 0.877);
}

.contact-title
{
  margin-left: 45%;
  margin-top: 5%;
  font-size: 60px;
  color: cornflowerblue;
}

.contact-box
{
  width: 600px;
  border-radius: 25px;
  margin-top: 5%;
  padding: 20px 60px;
  margin-left: 34%;
  display: inline-block;
  transition: .2s;
  color: whitesmoke;
  background-color: rgba(13, 13, 13, 0.586);
}

.contact-text
{
  clear: right;
  margin-top: 5%;
  font-size: 30px;

}

.contact-img
{
  float: left;
  text-align: left;
  margin-right: 20px;
  width: 120px;
}

.contact-box:hover
{
  transform: scale(1.2); 
}

.navigationbar
{
  padding: 10px;
  width: 100%;
  background-color:transparent;
  top: 0;
  text-align: center;
  position: fixed;
  z-index: 1;
}

.navigationbar a
{
  color: cornflowerblue;
  text-align: center;
  padding: 15px 15px;
  font-size: 25px;
}

.navigationbar a:hover
{
  text-decoration: underline;
}
.footer
{
  height: 200px;
  background-color: rgb(35, 29, 29);
}
