* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-image: url(/imgs/pexels-jessica-lewis-creative-583848.jpg);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  z-index: 1;
}

/*.grid-container
{
  display: grid;
  grid-template-areas:
  "home home"
  "left right";
  grid-gap: 10px;
  padding: 10px;
  height: 1000px;
}*/

/* PAGES */
#home,#about-me,#contact
{
  min-height: 1000px;
  overflow: hidden;
}


/* HOME */

#home::after { /* BLACK COVER */
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1000px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

/*min overskrift på home siden*/
#home .home-title {
  margin-left: 42%;
  display: block;
  font-size: 2rem;
  color: whitesmoke;
  margin-top: 18%;
}

/*knappen på home siden*/
#home button {
  margin-left: 42%;
  display: inline-block;
  padding: 10px 30px;
  color: cornflowerblue;
  background-color: transparent;
  border: 2px solid cornflowerblue;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 30px;
  transition: 0.5s ease background-color;
  transition: 0.5s ease color;
}

#home button:hover {
  color: whitesmoke;
  background-color: cornflowerblue;
}




/* ABOUT ME */
#about-me 
{
  background-color:rgba(35, 29, 29, 0.877);
}
.about-me-img
{
  float: left;
  max-width: 50%;
}
.about-me-text
{
  max-width: 50%;
  margin-left: 50%;
  text-align: center;
}

/* Text Styles */
.Page-Title
{
  color:cornflowerblue;
  height: 300px;
  padding-top: 220px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.standard-text
{
  display:inline-flex;
  color: white;
  max-width: 50%;
  font-size: 1.4em;
  text-align: center;  
}


/* kontakt mig */
#contact
{
  background-color:rgba(35, 29, 29, 0.877);
}
.contact-list
{
  border: 2px solid black;
}

.gmail
{
  margin-top: 10%;
  border: 2px solid aqua;
  padding: 20px 60px;
  margin-left: 42%;
  display: inline-block;
  color: cornflowerblue;
  background-color: rgba(13, 13, 13, 0.586);
  
}

.gmail-img
{
  margin-right: 20px;
  border: 2px solid greenyellow;
  width: 120px;
}

.gmail h3
{
  margin-top: 12%;
  border: 2px solid red;
  float: right;
  
}

.github
{
  margin-top: 5%;
  padding: 20px 40px;
  margin-left: 42%;
  display: inline-block;
  color: cornflowerblue;
  background-color:rgba(13, 13, 13, 0.586);
}

.github-img
{
  width: 150px;
}

.linkedin
{
  margin-top: 5%;
  padding: 20px 40px;
  margin-left: 42%;
  display: inline-block;
  color: cornflowerblue;
  background-color:rgba(13, 13, 13, 0.586);
}

.linkedin-img
{
  width: 150px;
}
.contact-box
{
  border: 2px solid aqua;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  max-width: 500px;
  height: 160px;
  justify-content: center;

}
.contact-box img
{
  border: 2px solid brown;
  width: 160px;
  float: left;
}
.contact-box p
{
  padding-top: 13%;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;

}

.contact-text
{
  border: 2px solid white;
  color: white;
  font-size: 1.3em;
}

.contact-text
{
  margin-left: 100px;
}
.footer
{
  height: 200px;
  background-color: rgb(35, 29, 29);
}
