*
{
  padding: 0;
  margin: 0;
}

html
{
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

a
{
  text-decoration: none;
}

/* PAGES */
#home,#about-me,#contact
{
  min-height: 1000px;
}



/* HOME */
#home
{
  background-image: url(/imgs/pexels-jessica-lewis-creative-583848.jpg);
  position: relative;
  background-size: 100% 1000px;
  min-height: 1000px;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;

}

/* BLACK COVER */

#home::after 
{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

/* HOLDER ALT MIN TEXT/CONTENT PÅ MIN HOME PAGE*/
.box-holder
{
  border: 2px solid aqua;
  display: block;
  margin-left: auto;
  margin-right:auto;
  max-width: 490px;
  margin-top: 400px;  
}


/*min overskrift på home siden*/
.text-home
{
  border: 2px solid aqua;
  display: block;
  font-size: 25px;
  color: whitesmoke;
}

/*knappen på home siden*/
#home button {
  min-width: 490px;
  display: block;
  padding: 10px 30px;
  color: cornflowerblue;
  background-color: transparent;
  border: 2px solid cornflowerblue;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 30px;
  transition: 0.5s ease background-color;
  transition: 0.5s ease color;
}

#home button:hover {
  color: whitesmoke;
  background-color: cornflowerblue;
}




/* ABOUT ME PAGE */
#about-me 
{
  background-color:rgba(35, 29, 29, 0.877);
}

.img-about-me
{
  float: left;
  background-size: 1000px;
  min-width: 50%;
  max-height: 1000px;
}

.about-me-text
{
  max-width: 50%;
  margin-left: 50%;
  text-align: center;
}


/* Text Styles */
.title-about-me
{
  color:cornflowerblue;
  height: 300px;
  padding-top: 220px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.standard-text
{
  display:inline-flex;
  color: whitesmoke;
  max-width: 50%;
  font-size: 1.4em;
  text-align: center;  
}








