*
{
  padding: 0;
  margin: 0;
}

a
{
  text-decoration: none;
}

html
{
  font-family: Montserrat, sans-serif;
  background-color:rgba(35, 29, 29, 0.877);
  scroll-behavior: smooth;
}

/* NAVIGATIONBAR */
.navigationbar
{
  padding: 10px;
  width: 100%;
  background-color:transparent;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 2;
}

.navigationbar a
{
  color: whitesmoke;
  text-align: center;
  padding: 15px 15px;
  font-size: 25px;
}

.navigationbar a:hover
{
  text-decoration: underline;
}

.projekt-title
{
  margin-left: 45%;
  padding-top: 80px;
  font-size: 60px;
  color: cornflowerblue;
}

.projekt-box
{
  width: 600px;
  border-radius: 25px;
  margin-top: 5%;
  padding: 20px 60px;
  margin-left: 33%;
  display: inline-block;
  transition: .2s;
  color: whitesmoke;
  background-color: rgba(13, 13, 13, 0.586);
}

.projekt-box:hover
{
  transform: scale(1.2); 
}

.projekt-text
{
  clear: right;
  margin-top: 5%;
  font-size: 30px;
}

.projekt-img
{
  float: left;
  text-align: left;
  margin-right: 20px;
  width: 120px;
}




